.mini-photo {
  width: 850px;
}

.custom-icon {
  font-size: 32px;
}

.cards-img {
  max-width: 100%;
  max-height: 200px;
}

.footer-list {
  font-size: 12px;
}

.end-footer-list {
  font-size: 10px;
}

.left-arrow-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-arrow-head {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #333; /* Adjust the color as needed */
  margin-left: 5px;
}

.right-arrow-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right-arrow-head {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #333; /* Adjust the color as needed */
  margin-right: 5px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.icon-container.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, pointer-events 0.5s;
}

.icon-container i {
  order: -1; /* Move the icon to the top */
}
